@model Assignment5.Controllers.PlaylistWithTracks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlaylistWithTracks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <!-- new content -->

        <dt></dt>
        <dd><hr /></dd>

        <dt>Tracks</dt>

            @if (Model.PlaylistTracks.Count() > 0)
            {
                foreach (var playlistTrack in Model.PlaylistTracks.OrderBy(pt => pt.Track.Name))
                {
                    <dd>@playlistTrack.Track.Name</dd>
                    <br />
                }
            }
            else
            {
                <dd><span>(none)</span></dd>
            }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
